.customers {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 10px;
}
.customers h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 51px;
}
.containerHello {
  width: 100%;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}
.head input {
  margin: 14px 9px 0 0;
  height: 38px;
  width: 216px;
  
  padding-left: 40px;
  background: url("./../../img/icons/search 1.png") 8px no-repeat;
  transition: all 1s;
  border: 1px solid white;
  border-radius: 10px;
}
.head input:focus {
  border: 1px solid #5932ea;
  border-radius: 10px;
}
.title h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.01em;
  margin-bottom: 7px;
}
.title h4 {
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16c098;
}
.containerCustomers {
  max-width: 884px;
  margin: auto;
}
.containerCustomers th {
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: start;
  color: #b5b7c0;
  padding:0 10px 40px 0;
}
.containerCustomers  th:last-child {
  text-align: center;
  padding-right: 0;
}
.containerCustomers td {
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #292d32;
  padding:0 10px 40px 0;
}
.containerCustomers  td:last-child {
  text-align: center;
  padding-right: 0;
}
.containerCustomers tbody tr{
  transition: all 1s;
}
.containerCustomers tbody tr:hover {
  position: relative;
  top: 0;
  left: -7px;
}
.containerCustomers table {
  border-collapse: collapse;
  width: 100%;
}
.active {
  margin: auto;
  width: 80px;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 1px solid #00b087;
  border-radius: 4px;
}
.inactive {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #df0404;
  width: 80px;
  height: 29px;
  background: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
}

@media(max-width:800px){
  .head{
  justify-content: flex-start;
  flex-direction: column;
  }
  .head input {
    margin-left: 5px;
  width: 175px;

  }
  table {
    width: 100%;
    display: block;
  }
  table td{
    display: block;
  }
  table thead{
    margin: 5px 0;
    float: left;
    border-right: 1px solid #292d32 ;
  }
  table tbody{
    overflow-x: auto;
  }
  table tbody tr{
    display: table-cell;
    padding: 0 10px;

  }
  table thead, table tbody,table thead th{
    display: block;
  }
  .customers {
    width: 100%;
    
  }
  .containerCustomers {
    width: 100%;
    margin: auto;
  }
  .containerCustomers table thead th{
    text-align: center;
  }
  .containerCustomers  th:last-child {
    padding: 10px 0;
  }
}